<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	This is just some content to fill out this page. Please do not hesitate
	to visit <a href="http://railstutorial.org">Ruby on Rails Tutorial</a>.
</p>